[archive]
# The name will be used to differentiate the message and state databases
name=MYARCHIVE

# The path where you would like the e-mail archive stored.  This defaults
# to $HOME/.quarry on Unix and %APPDATA%/quarry on Windows.
#data_dir=/var/lib/email_archive

# This is the filter that will be used to pick messages to archive.  By default it will
# archive all mail that has been seen.  Consult the file imap_filters.txt for the full
# list of acceptable filter commands.  They are quite extensive.
filter=SEEN

# The folders to skip trying to archive. Make sure to specify them using LOWER CASE, because the
# filter deliberately drops the case when it does it's searching.  That way we don't have to worry
# about your client vs. server case on folder names.
skip_folders=contacts, journal, calendar, "junk e-mail", "deleted items", trash, "sync issues/conflicts", "sync issues/server failures"

[log]
# The filename to log to
name=/tmp/hp_archive.log

# Valid levels are CRITICAL, ERROR, WARNING, INFO, DEBUG
level=DEBUG

# The size of the file before it gets rotated in bytes
rotate_size=32768

# The number of backups of the log before it gets deleted
rotate_backups=5


[email]
# The e-mail server must be IMAP.  This program does not support POP or other
# mail server protocols at the moment.

username=user@domain.com
password=mypassword
server=mail.domain.com
port=993
ssl=true

